.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}


p{
    border-style: dashed;
    border-color: gray;
    background-color: wheat;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 10px;
}

@keyframes example {
    0%   {background-color: rgb(223, 131, 131);}
    25%  {background-color: rgb(223, 223, 131);}
    50%  {background-color: rgb(131, 186, 223);}
    75% {background-color: rgb(131, 223, 140);}
    100% {background-color: rgb(223, 131, 131);}
  }

img {
    transition: width 3s;
}

img:hover{
    width: 400px;
}
